.client-testimonial-blog {
	display: flex;
}

.client-testimonial-top-img-wrap {
	width: 6vw;
}
.client-testimonial-top-img {
	width: 100%;
	object-fit: contain;
}

.client-testimonial-bottom-img-wrap {
	width: 4vw;
	display: flex;
	align-items: flex-end;
}
.client-testimonial-bottom-img {
	width: 100%;
	object-fit: contain;
}

.client-message {
	display: flex;
	flex-direction: column;
	padding: 0 3vw 0;
}

.client-message-title {
	font-size: 2vw;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.52;
	letter-spacing: normal;
	text-align: left;
	color: #f5913f;
}

.client-message-content {
	font-size: 1.4vw;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.26;
	letter-spacing: 1.78px;
	text-align: left;
	color: #001536;
}

.client-designation {
	font-size: 1.1vw;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.7;
	letter-spacing: 1.32px;
	text-align: left;
	color: #001536;
}

.client-company {
	font-size: 1.1vw;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.7;
	letter-spacing: 1.32px;
	text-align: left;
	color: #001536;
}
